aiohttp==3.9.1
aiosignal==1.3.1
attrs==23.2.0
bidict==0.22.1
blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
discord.py==2.3.2
Flask==3.0.0
flask-sock==0.7.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
multidict==6.0.4
packaging==23.2
python-engineio==4.8.1
python-socketio==5.10.0
requests==2.31.0
simple-websocket==1.0.0
SQLAlchemy==2.0.23
Turbo-Flask==0.8.4
typing_extensions==4.9.0
urllib3==2.1.0
waitress==2.1.2
Werkzeug==3.0.1
wsproto==1.2.0
yarl==1.9.4